name: Mobile

on:
  push:
    branches:
      - "main"
  pull_request:
    branches: 
      - "*"

jobs:
    Build_Android:
      runs-on: macos-latest

      steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '17'

      - name: Setup .NET v6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Install Boots
        run : |
          dotnet tool install --global boots --prerelease
          boots --alpha Mono
          boots --alpha Xamarin.Android

      - name: Restore NuGet 
        run: |
          nuget restore

      - name: Remove `#error` From BackendConstants.cs
        run: |
          BackendConstants=`find . -name BackendConstants.cs`
          echo BackendConstants: $BackendConstants

          sed -i '' "s/#error/\/\/#error/g" "$BackendConstants"

      - name: Remove `#error` From SignalRConstants.cs
        run: |
          SignalRConstants=`find . -name SignalRConstants.cs`
          echo SignalRConstants: $SignalRConstants

          sed -i '' "s/#error/\/\/#error/g" "$SignalRConstants"
          
          
      - name: Build Android App
        run: |                    
          mono /Applications/Visual\ studio.app/Contents/Resources/lib/monodevelop/bin/MSBuild/Current/bin/MSBuild.dll ./TextMood.Droid/TextMood.Droid.csproj /verbosity:normal /p:Configuration=Release